.App {
  text-align: left;
  background-image: url(/images/ce-starfield-background-1.jpg);
  height: 1024px;
}

.App-header {
  background-color: #282c34;
  height: 36pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.playerShip {
  position: absolute;
}

.enemyShip {
  position: absolute;
}

.sidebar {
  position: absolute;
  left: 10px;
  top: 64px;
  background-color: black;
  color: white;
  padding: 5px;
  z-index: 100;
}

.starmap {
  position: absolute;
  left: 10px;
  top: 300px;
  visibility: hidden;
  z-index: 200;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.scan {
  position: absolute;
  left: 10px;
  top: 300px;
}

.row {
  display: flex;
  flex-direction: row;
}

.warp-cell {
  color: white;
  text-align: center;
  width: 50px;
}

.player-cell {
  color: yellow;
}
.player-cell:before {
  content: "(";
}
.player-cell:after {
  content: ")";
}

.cannot-warp {
  color: gray;
}

button:disabled {
  color: gray;
}